@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.crypto-alert {
  background-color: #0a0a0a;
  height: 100vh;
  position: relative;
  text-align: center;
  transition: all 150ms linear;
  width: 100%;

  &.crypto-alert--light {
    background-color: #fff;
  }
}

.crypto-alert-header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.crypto-alert-container {
  margin: 100px auto 0 auto;

  @media screen and (min-width: 767px) {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__header h1 {
    cursor: pointer;
    color: #fff;
    font: 200 80px 'Roboto', sans-serif;
    margin: 0;

    .crypto-alert--light & {
      color: grey;
    }

    @media screen and (max-width: 767px) {
      font-size: 50px;
    }
  }
}

.crypto-alert-price {
  font-size: 7vw;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 30px 0;

  &--up {
    color: green;
  }

  &--down {
    color: red;
  }

  @media screen and (max-width: 767px) {
    font-size: 10vw;
  }
}

.crypto-alert-selector {
  position: relative;
  min-width: 200px;
  width: 200px;

  select {
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    color: #aaa;
    border: solid 1px #383838;
    outline:0;
    box-shadow:none;
    flex: 1;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    width: 100%;

    .crypto-alert--light & {
      color: #000;
    }
  }

  &::after {
    content: "▼";
    font-size: 1rem;
    top: 9px;
    right: 15px;
    position: absolute;
    color: #727272;
  }
}

.crypto-alert-loader-image {
  margin: 30px 0;
  width: 100px;
}

.crypto-alert-when {
  margin: 10px;

  & > span {
    font-size: 20px;
    color: white;
  }

  &__price {
    padding: 20px;

    input {
      background: transparent;
      border: solid 1px #5e5e5e;
      border-radius: 5px;
      font-size: 18px;
      padding: 5px 10px;
    }
  }
}

.crypto-alert-toggle {
  background-color: #1a202c;
  border-radius: 1000px;
  box-shadow: 0 5px 20px -10px #000000;
  cursor: pointer;
  display: block;
  padding: 5px;
  transition: background-color 0.2s ease-in;
  width: 40px;

  .crypto-alert-toggle-inner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

    &--active {
      margin-left: 20px;
    }
  }
}

.crypto-alert-threshold-input {
  color: #aaa;
  background: transparent;
  border: solid 2px #202020;
  border-radius: 5px;
  font-size: 22px;
  margin: 30px 0;
  padding: 10px 15px;
  letter-spacing: 3px;

  .crypto-alert--light & {
    border-color: #e7e7e7;
    color: #000;
  }

  @media screen and (max-width: 767px) {
    font-size: 15px;
    width: 70%;
  }
}

.crypto-alert-footer {
  align-items: center;
  bottom: 0;
  color: grey;
  display: flex;
  font-size: 13px;
  justify-content: center;
  position: fixed;
  left: 0;
  padding: 15px 0;
  text-align: center;
  width: 100%;

  &-section {
    margin-right: 10px;
    border-right: solid 1px #303030;
    padding-right: 10px;

    .crypto-alert--light & {
      border-color: #e7e7e7;
    }

    &:last-child {
      border:none;
    }
  }

  a {
    color: white;
    text-decoration: none;

    .crypto-alert--light & {
      border-color: #e7e7e7;
      color: #000;
    }
  }

  @media screen and (max-width: 767px) {
    display: block;

    .crypto-alert-footer-section {
      border: none;
      padding-top: 10px;
    }
  }
}

.crypto-alert-footer-github {
  width: 20px;
}